// options
$enable-gradients: true;
$enable-responsive-font-sizes: true;

$body-bg: #f2f2f2;
$body-color: #777777;

// nav
$nav-link-color: #afafaf;
$nav-link-hover-color: #232323;


// button
$btn-font-weight: bold;

$theme-colors: (
  "primary": #0CCE6B
);
$primary: #0CCE6B;
