.menu-container {
  left: 0px;
}
#menu {
  left: 0px;
  border-radius: 0px 16px 16px 0px;
}
.bg-gradient-green {
  background-color: map-get($theme-colors, 'primary');
  background-image: linear-gradient(45deg, map-get($theme-colors, 'primary'), lighten(map-get($theme-colors,'primary'), 30%));
}

.bg-gradient-light {
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}
.bg-gradient-red {
  background-color: #FF9A8B;
  background-image: linear-gradient(135deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}
.bg-gradient-purple-dark {
  background-color: #FF3CAC;
  background-image: linear-gradient(141deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

label, .label {
  font-weight: bold;
  font-size: 12pt;
}

img.avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
}
.log-pembayaran li {
  margin-bottom: 10px;
  padding: 10px;
}
.log-pembayaran li:last-child {
  margin-bottom: 0px;
}
